.aboutbannerbackground {
  width: 100%;
  height: 20%;
  margin-left: 5%;
  margin-top: 10%;
  border-radius: 25px;
}

.aboutphoto {
  border-radius: 10px;
  width: 90%;
  height: 250px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .aboutphoto {
    height: 120px;
    margin-top: 20%;
  }
}
