.dropdown {
  display: flex;
  margin-left: 20%;
  width: 60%;
}

.oneflat {
  width: 100%;
}

.rating {
  width: 50%;
  margin-left: 50%;
}

.ratestar {
  height: 20px;
}

.title {
  font-size: 30px;
}

.content {
  width: 100%;
}
