.dropdown {
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
  width: 60%;
}

.oneflat {
  width: 100%;
}

.rating {
  width: 50%;
  margin-left: 58%;
  margin-top: -5%;
  position: absolute;
}

.ratestar {
  height: 20px;
}

.title {
  font-size: 30px;
}

.flatcontent {
  width: 100%;
  margin-top: 25%;
  margin-left: 6%;
  color: #ff6060;
}

@media screen and (max-width: 768px) {
  .dropdown {
    flex-direction: column;
    margin-top: 15%;
    width: 110%;
  }

  .title {
    font-size: 20px;
    width: 70%;
  }

  .flatcontent {
    margin-top: 35%;
  }

  .rating {
    margin-left: 5%;
    margin-top: -1%;
  }

  .ratestar {
    height: 15px;
  }
}
