.banner {
  width: 98%;
  margin-top: 8%;
  border-radius: 25px;
}

.bannerphoto {
  object-fit: cover;
  border-radius: 20px;
}

.banner_text {
  margin-left: 20%;
  right: 25.14%;
  margin-top: -10%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  /* or 68px */

  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

.bannerphoto {
  width: 97%;
}

@media screen and (max-width: 768px) {
  .banner_text {
    font-size: 18px;
    margin-left: 10%;
    width: 80%;
    margin-top: -20%;
  }

  .bannerphoto {
    width: 95%;
    height: 120px;
    object-fit: cover;
    margin-top: 10%;
  }

  .banner {
    width: 100%;
    margin-top: -4%;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .banner_text {
    font-size: 18px;
    margin-left: 30%;
    margin-top: -5%;
  }
}
