.banner {
  width: 100%;
  margin-top: 10%;
  border-radius: 25px;
}

.banner_photo {
  object-fit: cover;
  border-radius: 25px;
}

.banner_text {
  margin-left: 30%;
  right: 25.14%;
  margin-top: -10%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  /* or 68px */

  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

.bannerphoto {
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .banner_text {
    font-size: 18px;
  }

  .bannerphoto {
    width: 90%;
    height: 120px;
    object-fit: cover;
    margin-top: 10%;
  }
}
