.cardimage {
  object-fit: cover;
}

.cardtitle {
  font-weight: 500;
  font-size: 18px;
  position: relative;
  margin-top: -50%;
  text-align: center;
  color: white;
}

.card {
  background: #ff6060;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 20%;
}

.cardimage {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20%;
}

@media screen and (max-width: 768px) {
  .cardimage {
    width: 250px;
    height: 250px;
  }

  .card {
    width: 250px;
    height: 250px;
  }
}
