.cardimage {
  object-fit: cover;
}

.cardtitle {
  font-weight: 500;
  font-size: 18px;
  position: relative;
  margin-top: -50%;
  text-align: center;
  color: white;
}

.card {
  background: #ff6060;
  border-radius: 10px;
  width: 240px;
  height: 240px;
  border-radius: 10px;
  margin-bottom: 20%;
}

.cardimage {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20%;
}
