.Logo_kasa_header {
  margin-left: 2%;
  margin-top: 2%;
  width: 120px;
}

.link {
  position: absolute;
  left: 70%;
  right: 18.96%;
  top: 5.57%;
  bottom: 91.11%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #ff6060;
}

.link_2 {
  position: absolute;
  left: 85%;
  right: 6.94%;
  top: 5.57%;
  bottom: 91.11%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #ff6060;
}

.navbar_kasa {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .link {
    font-size: 12px;

    margin-left: -10%;
  }

  .link_2 {
    font-size: 12px;

    margin-left: -10%;
  }
}
