.home_appartments {
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin-left: 5%;
  background: #f7f7f7;
  border-radius: 15px;

  padding-top: 6%;
  margin-bottom: 20%;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home_banner {
  margin-left: 5%;
}

.cardlink {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .home_appartments {
    width: 90%;
    margin-top: 20%;
  }
}
