.host {
  display: flex;
  margin-top: -25%;
  margin-top: -20%;
  margin-left: 50%;
}

.hostname {
  color: #ff6060;
  width: 24%;
}

.hostpicture {
  border-radius: 80%;
  height: 80px;
}

@media screen and (max-width: 768px) {
  .hostpicture {
    height: 50px;
    margin-left: 50%;
  }

  .host {
    margin-top: -8%;
  }

  .hostname {
    margin-left: 120%;
    font-size: 12px;
  }
}
