.host {
  display: flex;
  margin-top: -25%;
  margin-top: -20%;
  margin-left: 50%;
}

.hostname {
  color: #ff6060;
  width: 20%;
}

.hostpicture {
  border-radius: 80%;
  height: 80px;
}

@media screen and (max-width: 768px) {
  .hostpicture {
    height: 60px;
  }

  .host {
    margin-top: -10%;
    margin-left: 120%;
  }
}
