.slider {
  width: 95%;
  height: 200px;
  margin-left: 3%;
  margin-top: 5%;
}

.sliderpicture {
  width: 95%;
  margin-left: 3%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.previous {
  height: 50px;
  position: absolute;
  margin-top: -20%;
  margin-left: 5%;
}

.next {
  height: 50px;
  position: absolute;
  margin-top: -20%;
  margin-left: 88%;
}

.slidernumber {
  float: RIGHT;
  position: ABSOLUTE;
  margin-left: -50%;
  margin-top: 30%;
  color: WHITE;
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .sliderpicture {
    height: 300px;
    width: 95%;
  }

  .slider {
    width: 95%;
  }

  .previous {
    margin-top: -40%;
  }

  .next {
    margin-top: -40%;
    margin-left: 80%;
  }

  .slidernumber {
    margin-top: 65%;
    font-size: 20px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .previous {
    margin-top: -20%;
  }

  .next {
    margin-top: -20%;
  }

  .flatcontent {
    margin-top: 15%;
  }
}
