.slider {
  width: 95%;
  height: 200px;
  margin-left: 3%;
  margin-top: 10%;
}

.sliderpicture {
  width: 95%;
  margin-left: 3%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.previous {
  height: 50px;
  position: absolute;
  margin-top: -20%;
  margin-left: 5%;
}

.next {
  height: 50px;
  position: absolute;
  margin-top: -20%;
  margin-left: 88%;
}

@media screen and (max-width: 768px) {
  .sliderpicture {
    height: 300px;
    width: 95%;
  }

  .slider {
    width: 95%;
  }

  .previous {
    margin-top: -40%;
  }

  .next {
    margin-top: -40%;
    margin-left: 70%;
  }
}
